img {
  margin-left: 4px;
  width: 50px;
  height: 50%;
  border-radius: 5px;
  user-select: none;
}

.VideoEntryRoot {
  max-width: auto;
  margin: 2px;
  padding: 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(190deg, #0298e2, #ffeb3b);
  background-size: 400% 400%;
  border-radius: 5px;
}

.VideoEntryRoot > p {
  margin-left: 10px;
  font-family: "Fredoka One";
  width: 100%;
}

.controlButtons {
  margin-left: auto;
  height: 100%;
  width: 25%;
}

.controlButtons > button {
  margin-left: auto;
  height: 100%;
  margin-right: 5px;
  background: linear-gradient(200deg, #0298e2, #ffeb3b);
  background-size: 400% 400%;
  border-color: #000000;
  border-radius: 5px;
}
