.chatMessage {
  display: inline-block;
  border: 1px blue solid;
  border-radius: 2px;
  margin: 5px;
  right: -1em;
  justify-content: flex-end;
}

.chatMessageOth {
  display: inline-block;
  border: 1px blue solid;
  border-radius: 2px;
  margin: 5px;
  right: -1em;
  justify-content: flex-end;
}

.chatMessageSelf {
  display: inline-block;
  border: 1px blue solid;
  border-radius: 2px;
  left: -1em;
}
