.roomWrapper {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    135deg,
    rgba(74, 66, 118, 1) 0%,
    rgba(74, 66, 118, 1) 2%,
    rgba(194, 114, 102, 1) 18%,
    rgba(50, 143, 125, 1) 46%,
    rgba(83, 83, 193, 1) 80%,
    rgba(224, 94, 77, 1) 100%
  );
  background-size: 100% 100%;
}

.roomRoot {
  padding: 10px;
}

.roomRoot {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.playerPlaceholder {
  z-index: 0;
  grid-column: 1 / 3;
  grid-row: 1 / 4;

  position: relative;
  padding: 1px;

  background-clip: padding-box; /* !importanté */
  border: solid 5px transparent; /* !importanté */
  border-radius: 5px;
}

.playlistPlaceholder {
  grid-column: 3 / 4;
  grid-row: 1 / 5;
}

.chatPlaceholder {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.roomRoot > div {
  z-index: 0;
  grid-column: 1 / 3;
  grid-row: 1 / 4;

  position: relative;
  padding: 1px;

  background-clip: padding-box; /* !importanté */
  border: solid 5px transparent; /* !importanté */
  border-radius: 5px;
}

.playerPlaceholder:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px; /* !importanté */
  border-radius: inherit; /* !importanté */
  background: linear-gradient(190deg, #ffeb3b, #0298e2);
  background-size: 400% 400%;
}
/* padding: 1em; */

.roomRoot > div:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px; /* !importanté */
  border-radius: inherit; /* !importanté */
  background: linear-gradient(190deg, #ffeb3b, #0298e2);
  background-size: 400% 400%;
}
